PORT=3000

AUTO_START=true
SCAN_SECONDS=5

DEMO_BALANCE=1000
RISK_PERCENT=1
MIN_CONFIDENCE=80
MAX_CONSECUTIVE_LOSSES=2
TIMEFRAME_MINUTES=1

# OneSignal - adaugam dupa ce serverul functioneaza
ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=
